body{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}

label,input,select,input[type=submit]{
  display: inline-block;
  width:150px;
  text-align: left;
  margin: 2px;
}
form{
  display:inline-block;
  text-align: left;
}
footer{
    background-color: #111;
    color: white;
}

nav{
    margin-top: 10px;
    padding:0;
    margin-bottom: 10px;
}
nav a{
    text-decoration: none;
    color:inherit;
}
nav ol{
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding:0px;
    justify-content: center;
}
nav li:hover{
    background-color: red;
}
nav li{
    display:inline-block;
    margin: 0px;
    padding:10px;
}
#review{
  height:100px;
  width:300px;
  text-align: left;
}
.home{
    float:right;
    margin-right: 7px;
}
.rectanglebox{
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}
.box{
    margin-bottom: 10px;
    width: 95%; 
    display: inline-block; 
    display: flex; 
    margin: auto; 
    max-height: 180px;  
    overflow: hidden;
}
.lines {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.text{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height:2.0;
}

.textBox{
    margin: 5px; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-content: center; 
    padding: 1px;
}

.homepageImage {
  width: 300px;
  max-width: 300px;
  height: 100%; 
  float: left; 
  display: inline-block; 
  justify-content: center;
  vertical-align:middle;
}

.expanding
{
  margin-bottom: 10px;
  width: 90%; 
  display: block; 
  display: flex; 
  margin: auto; 
  max-height: 110px; 
  border-color: black; 
  border-style: solid; 
  overflow: hidden;
}
.expanding:hover{
  max-height: 100%;
  border-color: #800020;
}
/* Caption text */
.slidetext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}





.document-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*We do this because the carousel needs to be 100% width 
in order for the aspect ratio trick to work*/
.carousel-container {
  max-width: 100%;
  width: 100%;
}

/*This is the actual carousel. Overflow hidden acts as a mask*/

.carousel {
  position: relative;
  width: 100%;
  /*Width of image is 980px. Height is 570px.*/
  padding-top: calc(570 / 980 * 100%);
  overflow: hidden;
}

.carousel-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 147px;
  cursor: pointer;
}

.left-arrow:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.left-arrow:hover .chevron,
.right-arrow:hover .chevron {
  border-color: #e6e6e6;
}

.right-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 147px;
  cursor: pointer;
}

.right-arrow:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.chevron {
  width: 25px;
  height: 25px;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 10px 10px 0 0;
}

.chevron.right {
  transform: rotate(45deg);
}

.chevron.left {
  transform: rotate(-135deg);
}

.circle-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
}

.circle {
  border: 1px solid white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.circle-fill {
  background-color: white;
}

.text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  bottom: 45px;
  left: 0;
  width: 100%;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
}

.text-container p:nth-child(1) {
  margin: 10px 10px;
  font-size: 1.5em;
}

.text-container p:nth-child(2) {
  margin: 10px 10px 10px 10px;
}

.carousel-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Animations */
@keyframes toRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes comeRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes comeLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

x-star-rating {
    font-family: 'Ionicons';
    font-size: 24px;
    display: inline-flex;
    cursor: pointer;
}

x-star-rating > .star::after {
    content: '\f3ae';
    color: #777;
}

x-star-rating > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}

hr{
    margin-bottom: 2em;
}


@media only screen and (min-width:100px){
    body{
 		width:100%;
    }
    footer{
        position: relative;
        bottom:auto;
    }
    .box{
      display: block;
      margin: auto; 
      width: 90%;
      max-height: 10000px;  
      overflow: hidden; 
      
    }
    .homepageImage{
      width: 100%;
      max-width: 10000px;
      height: 100%; 
      float: left;  
      justify-content: center;
    }
    .textBox{
      clear:both;
    }
    
}
@media only screen and (min-width:750px){
    body{
        width: 80%;
    }
    footer{
        position: relative;
        bottom:auto;
    }
    .box
    {
      margin-bottom: 10px;
      width: 95%; 
      display: inline-block; 
      display: flex; 
      margin: auto; 
      max-height: 180px;  
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    .homepageImage
    {
      width: 300px;
      max-width: 300px;
      height: 100%; 
      float: left; 
      display: inline-block; 
      justify-content: center;
    }
    .textBox
    {
      margin: 5px; 
      overflow: hidden; 
      display: flex; 
      justify-content: center; 
      align-content: center; 
      padding: 1px;
    }
}
@media only screen and (min-width:1125px){
    body{
        width: 65%;
    }
}